<!DOCTYPE html>
<html>
<head>
  <title>Paper trail related_changes</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "paper_trail/related_changes/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
